/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: helvetica, arial, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* End of CSS Reset */

/* Mobile */

body {
  font-size: 1rem;
  color: #121212;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 47px;
  padding: 8px 15px 3px;
}

.nav-button {
  padding: 7px 9px 9px;
}

nav a svg {
  width: 189px;
  height: 26px;
  margin-top: 5px;
}

nav button svg {
  width: 16px;
  height: 16px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 20px 12px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  background-color: #f7f7f7;
  font-size: 0.6875rem;
}

header div:last-child a {
  color: rgb(50, 104, 145);
  text-transform: uppercase;
  justify-self: flex-end;
}

.headlines {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1.25rem;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.headlines * {
  margin-right: 10px;
  margin-left: 10px;
}

.headlines::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 0.9375rem;
  white-space: nowrap;
}

h2 span {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #d0021b;
}

.live {
  color: #d0021b;
  font-weight: 800;
  font-size: 0.6875rem;
}

.headlines .live {
  margin-left: 1.2rem;
}

.article {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  padding-left: 1.2rem;
  padding-right: 1rem;
  margin-top: 0.8rem;
}

.article::before {
  content: "";
  position: absolute;
  top: 0;
  width: 92%;
  height: 1.8px;
  margin-left: 4%;
  margin-top: -0.8rem;
  background-color: #121212;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.15em;
  margin-bottom: 0.7rem;
  margin-top: 0.25rem;
}

.article > h1:first-child {
  padding-top: 0.5rem;
}

p {
  color: #727272;
  line-height: 1.35;
}

.article p {
  margin-bottom: 1rem;
}

ul {
  color: #727272;
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

li {
  line-height: 1.35;
  margin-top: 0.4rem;
  position: relative;
}

li::before {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: -8px;
  top: 8px;
  content: "";
  display: block;
  background: #727272;
  position: absolute;
}

.article img {
  width: 95%;
  margin: auto 0;
}

.article > img:last-child {
  padding-bottom: 2rem;
}

.takeaway {
  font-size: 1.15rem;
  line-height: 1.1em;
  font-weight: 600;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-top: #b7b7b7 1px solid;
}

.article .takeaway:first-of-type {
  margin-top: 1rem;
}

.takeaway:hover {
  cursor: pointer;
  color: #5a5a5a;
}

h1:hover,
h2:hover {
  cursor: pointer;
  color: #5a5a5a;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100vw;
  scroll-snap-type: x proximity;
  border-top: 1px solid rgb(235, 235, 235);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 2rem;
}

.carousel .carousel-item:first-of-type {
  margin-left: 2rem;
}

.carousel .carousel-item:last-of-type {
  margin-right: 3rem;
}

.carousel-item img {
  height: 220px;
  width: 220px;
  margin-bottom: 0.5rem;
}

.carousel-item h3 {
  font-size: 0.9rem;
}

.carousel-item h3:hover {
  cursor: pointer;
  color: #5a5a5a;
}

.games {
  position: relative;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.games b {
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.games::before {
  content: "";
  position: absolute;
  top: 0;
  width: 92%;
  height: 1.8px;
  margin-left: 4%;
  margin-top: -0.8rem;
  background-color: #121212;
}

.game {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 2fr;
  border-top: 1px solid rgb(235, 235, 235);
  padding: 1.2rem;
  max-height: 160px;
}

.game h2 {
  grid-row: 1;
  margin-top: 0.4rem;
}

.game p {
  grid-row: 2;
}

.game img {
  grid-row: 1 / span 2;
  grid-column: 2;
  max-height: 130px;
}

.opinions {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding: 0 1.2rem;
}

.opinions b {
  margin-bottom: 0.3rem;
}

.opinions::before {
  content: "";
  position: absolute;
  top: 0;
  width: 92%;
  height: 1.8px;
  margin-left: 4%;
  margin-top: -0.8rem;
  background-color: #121212;
}

.opinion {
  position: relative;
  padding-top: 1rem;
  border-top: 1px solid #c7c7c7;
}

.opinion h4 {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #727272;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.opinion h2 {
  white-space: normal;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.2em;
}

.image-opinion h2 {
  width: 83%;
}

.image-opinion img {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  width: 13%;
  max-width: 50px;
}

.opinions .opinion:first-of-type {
  border-top: none;
  padding-top: 0.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 2.4rem);
  height: 2px;
  margin-left: calc(-1.2rem);
  background-color: #dcdcdc;
}

footer a:first-child {
  width: 184px;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

footer .footer-title {
  font-weight: 600;
  font-size: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

footer .footer-title {
  position: relative;
  border-top: 1px solid rgb(235, 235, 235);
}

.footer-title:hover {
  text-decoration: none;
  cursor: pointer;
}

.copyright {
  position: relative;
  font-size: 0.75rem;
  text-align: center;
  color: #666;
  padding: 0.2rem;
}

.copyright::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 2.4rem);
  height: 1px;
  margin-left: calc(-1.2rem);
  background-color: rgb(235, 235, 235);
}

.footer-links {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.footer-links a {
  color: #666;
  font-size: 0.7rem;
  padding: 0 10px;
}

/* Desktop */

@media (min-width: 1010px) {
  .article {
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
  }

  .article-small {
    width: 73%;
  }

  .desktop-takeaway {
    grid-template-columns: 3fr 2fr 4fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
  }

  .article .takeaway:first-of-type {
    grid-row: 3 / span 1;
  }

  .article h1,
  .article .live {
    grid-column: 1;
    grid-row: 1;
  }

  .article h1 {
    margin-top: 1.5rem;
  }

  .article p {
    grid-column: 1;
    grid-row: 2;
  }

  .article img {
    grid-row: 1 / span 3;
    grid-column: 2 / span 2;
    width: 95%;
    margin: auto;
  }

  .first-article img {
    grid-row: 1 / span 2 !important;
    width: 90%;
    max-width: 480px;
  }

  .last-article {
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 0.5fr 1.5fr 0.5fr;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .last-article img {
    grid-row: 1 / span 3 !important;
    grid-column: 2 / span 2 !important;
  }

  .newrow {
    grid-row: 3;
    grid-column: 2 / span 1;
  }

  .newrow-second {
    grid-row: 3;
    grid-column: 3;
  }

  .newrow-second {
    border-top-width: 80%;
    padding-right: 1rem;
  }

  .newrow-third {
    grid-row: 3;
    grid-column: 1 / span 3;
  }

  .article .takeaway:first-of-type {
    margin-top: 0;
  }

  .opinions {
    position: absolute;
    top: calc(10rem + 1.5px);
    right: 1rem;
    width: 26%;
  }

  .opinions::after {
    content: "";
    position: absolute;
    top: -0.8rem;
    left: 0.6rem;
    height: calc(100% + 1rem);
    width: 0.5px;
    margin-left: calc(-1.2rem);
    background-color: #b7b7b7;
  }

  .opinion h2 {
    width: 80%;
  }
}
